@charset "UTF-8";

@font-face {
  font-family: "Didot";
  src: url("Didot.woff2") format("woff2"),
       url("Didot.woff") format("woff"),
       url("Didot.ttf") format("truetype"),
       url("Didot.eot") format("embedded-opentype"),
       url("Didot.svg") format("svg"),
       url("Didot.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}